* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: initial;
  line-height: 1.5;
  background: #f3f4fa;
}
.wrapper {
  width: 100%;
  overflow-x: hidden;
  display: flex;
}
.sidebar {
  background: #101010;
  min-height: 100vh;
  margin-left: 0rem;
  -webkit-transition: width 0.25s ease-out;
  -moz-transition: width 0.25s ease-out;
  -o-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
  position: relative;
  margin: 0px;
  width: 284px;
  overflow: hidden;
  color: #fff;
}
.sidebar > hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #1010102d;
}
.sidebar__header {
  display: flex;
  border-bottom: 1px solid #1010102d;
  padding: 13px;
  align-items: center;
}
.sidebar__header > .MuiAvatar-root{
  margin-right: 15px;
}
.sidebar__header >h2 {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
}
.sidebarOption {
  display: flex;
  align-items: center;
  padding: 13px;
  font-size: 12px;
  cursor: pointer;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sidebarOption >a {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 26px;
  font-weight: 400;
  color: #f3f4fa;
  text-decoration: none;
}
.sidebarOption:hover {
  opacity: 0.9; 
  background-color: #3f51b5;
}

.sidebarOption__icon {
  font-size: 25px !important;
  margin-right: 10px;
}

.sidebarOption__name{
  padding: 10px 0;
}
.containArea {
  width: 100%;
  min-width: 0px;
  padding: 0px;
  background: #f3f4fa;
}
.whiteIcon {
  color: #fff;
}
.content {
  padding: 0 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.tile-stats {
  position: relative;
  display: block;
  padding:20px;
  background: #FFF;
  transition: all .3s ease-in-out;
  border: 2px solid #3f51b5;
}
.paddingLeftRight{
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.border{
  border:2px solid #3f51b5 !important;

}
.tile-stats .count {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.65857;
}

.profile__sec{
  display: flex;
}