* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: initial;
  line-height: 1.5;
  background: #f3f4fa;
}
.wrapper {
  width: 100%;
  overflow-x: hidden;
  display: flex;
}
.sidebar {
  background: #101010;
  min-height: 100vh;
  margin-left: 0rem;
  -webkit-transition: width 0.25s ease-out;
  -moz-transition: width 0.25s ease-out;
  -o-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
  position: relative;
  margin: 0px;
  width: 284px;
  overflow: hidden;
  color: #fff;
}
.containArea {
  width: 100%;
  min-width: 0px;
  padding: 0px;
  background: #f3f4fa;
}
.whiteIcon {
  color: #fff;
}
.content {
  padding: 0 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.tile-stats {
  position: relative;
  display: block;
  padding:20px;
  background: #FFF;
  transition: all .3s ease-in-out;
  border: 1px solid #027cc9;
}
.tile-stats .count {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.65857;
}
